.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.main {
  flex: 1;
  overflow-y: auto;
}

.headerPlaceholder {
  height: 44px;
  min-height: 44px;
}
.footerPlaceholder{
  height: 56px;
  min-height: 56px;
}
